.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.button {
  background: #030305;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  border: 0px;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    background: #575757;
  }
}

@import "./style/normalize";
@import "./style/registration";
@import "./style/bank";
